- var logged = user.logged()
mixin btn-new-comment
  a.btn.btn-block.btn-dashed.new-comment
    i.fa.fa-plus
    span=t('comments.new.argument')

.comments
  .inner-container
    .comments-icon.commentable-container
      i.fa.fa-comments
    h2=t('comments.arguments')
    - if (logged)
      ul.comments-nav.nav.nav-pills.nav-justified(role='tablist')
        li.new-comment(role='presentation')
          a(href='#form',aria-controls='form',role='tab',data-toggle='pill')
            i.fa.fa-plus
        li.active(role='presentation')
          a(href='#all',aria-controls='all',role='tab',data-toggle='pill')
            = t('comments.all')
        li(role='presentation')
          a(href='#user',aria-controls='user',role='tab',data-toggle='pill')
            = t('comments.your.arguments')
    
    .filter-container

    .tab-content
      .tab-pane.active#all.all-comments(role='tabpanel')    
        ul.media-list.comments-list
        btn.btn.btn-block.btn-dashed.load-comments.hide
          i.fa.fa-caret-down
          span=t('comments.load-more')
        - if (logged)
          +btn-new-comment
      - if (logged)
        .tab-pane#user.my-comments(role='tabpanel')
          ul.media-list.my-comments-list
          +btn-new-comment
        .tab-pane#form(role='tabpanel')
          form.comment-form(method='post', action='/api/comment?topicId=#{item.id}', autovalidate, autosubmit)
            .form-toolbar.clearfix
              span.form-title=t('comments.new.argument')
              a.pull-right(href='/help/markdown', target='_blank')
                span=t('markdown.comments.formatting-help')
                span.fa.fa-question-circle
            .form-group
              textarea.form-control#f-text(name='text', rows='4', validate='required max-length:4096', placeholder=t('comments.your.placeholder'), tabindex=1)
            .form-group
              .input-group
                span.input-group-addon
                  input(type='checkbox',name='asAlias')
                input.form-control(type='text', name='alias', tabindex=2, placeholder='Publié en tant que ...')
            .form-group.clearfix
              ul.form-messages
              input.btn.btn-success.form-submit.pull-right(type='submit', tabindex=4, value=t('comments.send'))
              a(tabindex=3).btn.btn-link.cancel-new-comment.pull-right=t('common.cancel')
    
    - if (!logged)
      .signup-info
        p.text-mute= t('comments.sign-in-required')
        a(href='/signin')= t('signin.login')
        | &nbsp;#{t('common.or')}&nbsp;
        - var signupUrl = '/signup?reference=' + reference
        a(href=signupUrl)= t('signin.signup')
      
