- var logged = user.logged()

.comments
  .inner-container
    .comments-icon.commentable-container
      i.fa.fa-comments
    h2=t('comments.arguments')
    
    .filter-container.clearfix
      button.btn.btn-lg.btn-primary.new-comment.pull-right.hidden-xs(role='button',aria-label=t('comments.new.argument'))
        i.fa.fa-plus
        span=t('comments.new.argument')
      .sort-container
      - if (logged)
        .comments-own.clearfix.hide
          label=t('comments.filter-own')
          .ui-switch
            input(type='checkbox')
            label.status

    
    ul.comments-nav.nav.nav-pills.nav-justified(role='tablist')
      li.new-comment(role='presentation')
        a(href='#form',aria-controls='form',role='tab',data-toggle='pill')
          i.fa.fa-plus
      li.active(role='presentation')
        a(href='#all',aria-controls='all',role='tab',data-toggle='pill')
          = t('comments.all')
      li(role='presentation')
        a(href='#user',aria-controls='user',role='tab',data-toggle='pill')
          = t('comments.your.arguments')
    
    .tab-content
      .tab-pane.active#all.all-comments(role='tabpanel')    
        a.btn.btn-block.btn-dashed.new-comment.visible-xs
          i.fa.fa-plus
          span=t('comments.new.argument')
        ul.media-list.comments-list
        btn.btn.btn-block.btn-dashed.load-comments.hide
          i.fa.fa-caret-down
          span=t('comments.load-more')
      - if (logged)
        .tab-pane#user.my-comments(role='tabpanel')
          a.btn.btn-block.btn-dashed.new-comment.visible-xs
            i.fa.fa-plus
            span=t('comments.new.argument')
          ul.media-list.my-comments-list
        .tab-pane#form(role='tabpanel')
          form.comment-form(method='post', action='#{config.subPath}/api/comment?topicId=#{item.id}', autovalidate, autosubmit)
            .form-toolbar.clearfix
              span.form-title=t('comments.new.argument')
              //- a.pull-right(href='#{config.subPath}/help/markdown', target='_blank')
              //-   span=t('markdown.comments.formatting-help')
              //-   span.fa.fa-question-circle
            .form-group
              textarea.form-control.editable#f-text(name='text', rows='6', placeholder=t('comments.your.placeholder'), tabindex=1)
            .form-toolbar=t('comments.alias.title')
            .form-group
              .input-group
                span.input-group-addon
                  input(type='checkbox',id='asAlias',name='asAlias')
                input.form-control(type='text', name='alias', tabindex=2, placeholder=t('comments.alias.placeholder'))
            .form-inline.people-count-row.hide
              .form-group
                label(for='peopleCount')= t('comments.count.title')
                input.form-control(type='text', id='peopleCount', name='peopleCount', tabindex=3, size=3)
            .form-group.clearfix
              ul.form-messages
              input.btn.btn-success.form-submit.pull-right(type='submit', tabindex=5, value=t('comments.send'))
              a(tabindex=3).btn.btn-link.cancel-new-comment.pull-right=t('common.cancel')
    
    - if (!logged)
      .signup-info
        p.text-mute= t('comments.sign-in-required')
        - var signinUrl = config.subPath + '/signin'
        a(href=signinUrl)= t('signin.login')
        | &nbsp;#{t('common.or')}&nbsp;
        - var signupUrl = config.subPath + '/signup'
        a(href=signupUrl)= t('signin.signup')
    - else
      a.btn.btn-block.btn-dashed.new-comment
        i.fa.fa-plus
        span=t('comments.new.argument')
      
