#whitelists-wrapper
  .whitelists-admin
    .actions.well
      .row
        .col-xs-12.col-md-3
          a.btn.btn-success.btn-block.btn-labeled.clearfix.new(href='#{config.subPath}/admin/whitelists/create')
            span.btn-label.pull-left
              span.fa.fa-plus
            span=t('admin-whitelists.list.add-whitelist')
        .col-xs-12.col-md-9
          .input-group.input-group-md
            span.input-group-addon
              i.glyphicon.glyphicon-search
            input.form-control.search(type='text', placeholder='#{t("admin-whitelists.list.search.placeholder")}', autofocus)
    .list.list-group
      - each whitelist in whitelists
        a.list-group-item(href="#{config.subPath}/admin/whitelists/" + whitelist.id)
          span.whitelist-icon.fa.fa-envelope
          span.whitelist-title=whitelist.value
