#profile-wrapper.hide
  .profile-settings
    .heading
      h1
        i.fa.fa-user
        span= t('settings.profile')
    form.form(action="#{config.subPath}/settings/profile", method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-messages
      .form-group.profile-picture
        .image-container
          img(src=user.profilePicture(), width="65",id="userProfilePicture")
        .controls
          - if (user.profileType==='facebook')
            a(href="https://facebook.com", target="_blank")
              strong= t('settings.change-at-facebook')
          - else if (user.profileType==='google')
            a(href="https://google.com", target="_blank")
              strong= t('settings.change-at-google')
          - else
            a(href="https://gravatar.com", target="_blank")
              strong= t('settings.change-at-gravatar')
          input.form-control(type='text', name='profilePictureUrl', tabindex=1, placeholder=t('settings.paste-url-image'), value=user.profilePictureUrl, validate='url')
      //- WIP Sélectionnez une photo
      p#status= t('settings.pick_a_pic')
      input(type='file', id='file_input', style='padding: 0px 0px 24px')
      .form-group
        label #{t('settings.first-name')}
        input.form-control(type='text', id="firstName", name='firstName', tabindex=2, placeholder=t('settings.first-name'), value='#{user.firstName}', validate='required firstname')
      .form-group
        label #{t('settings.last-name')}
        input.form-control(type='text', id="lastName", name='lastName', tabindex=3, placeholder=t('settings.last-name'), value='#{user.lastName}', validate='required lastname')
      .form-group
        label= t('signup.email')
        input.form-control(type='text', disabled='disabled' name='email', tabindex=4, placeholder=t('forgot.mail.example'), value='#{user.email}', validate='required email')
      .form-group
        label #{t('settings.locale')}
        select.form-control(id='locale', name='locale', tabindex=5)
      .form-group
        label #{t('settings.location')}
        select.form-control(id='location', name='location', tabindex=6)
          option(value=0)
      .form-group
        label #{t('settings.age')}
        select.form-control(id='age', name='age', tabindex=7)
          option(value=0)
      .form-group
        input(type='checkbox',id='activityLive',name='activityLive',checked=user.activities.live)
        label.inline #{t('settings.activity.live')}
      .form-group
        input(type='checkbox',id='activityWork',name='activityWork',checked=user.activities.work)
        label.inline #{t('settings.activity.work')}
      .form-group
        input(type='checkbox',id='activityStudy',name='activityStudy',checked=user.activities.study)
        label.inline #{t('settings.activity.study')}
      .form-group.row.actions
        .col-xs-12.col-md-6.col-md-offset-3
          button.btn.btn-block.btn-labeled.btn-success(tabindex=15)
            span.btn-label.pull-left
              span.glyphicon.glyphicon-save
            span=t('settings.save')
        //- - if (user.profileType==='facebook')
        //-   .col-xs-12.col-md-6
        //-     button.btn.btn-block.btn-labeled.btn-default.btn-facebook(tabindex=16)
        //-       span.btn-label.pull-left
        //-         i.fa.fa-facebook
        //-       span= 'Mettre à jour'
        //- - else if (user.profileType==='google')
        //-   .col-xs-12.col-md-6
        //-     button.btn.btn-block.btn-labeled.btn-default.btn-google(tabindex=16)
        //-       span.btn-label.pull-left
        //-         i.fa.fa-google
        //-       span= t('signin.login-with-google')
