#profile-wrapper.hide
  .profile-settings
    .heading
      .circle
        i.fa.fa-user
      h1= t('settings.profile')
    form.form(action="#{config.subPath}/settings/profile", method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-messages
      .form-group.profile-picture
        .image-container
          img(src=user.profilePicture(), width="65")
        .controls
          - if (user.profileType==='facebook')
            a(href="https://facebook.com", target="_blank")
              strong= t('settings.change-at-facebook')
          - else if (user.profileType==='google')
            a(href="https://google.com", target="_blank")
              strong= t('settings.change-at-google')
          - else
            a(href="https://gravatar.com", target="_blank")
              strong= t('settings.change-at-gravatar')
          input.form-control(type='text', name='profilePictureUrl', tabindex=1, placeholder=t('settings.paste-url-image'), value=user.profilePictureUrl, validate='url')
      .form-group
        label #{t('settings.first-name')}
        input.form-control(type='text', id="firstName", name='firstName', tabindex=2, placeholder=t('settings.first-name'), value='#{user.firstName}', validate='required firstname')
      .form-group
        label #{t('settings.last-name')}
        input.form-control(type='text', id="lastName", name='lastName', tabindex=3, placeholder=t('settings.last-name'), value='#{user.lastName}', validate='required lastname')
      .form-group
        label= t('signup.email')
        input.form-control(type='text', disabled='disabled' name='email', tabindex=4, placeholder=t('forgot.mail.example'), value='#{user.email}', validate='required email')
      .form-group
        label #{t('settings.locale')}
        select.form-control(id='locale', name='locale', tabindex=5)
      .form-group
        label #{t('settings.location')}
        select.form-control(id='location', name='location', tabindex=6)
      .form-group
        label #{t('settings.age')}
        select.form-control(id='age', name='age', tabindex=7)
      .form-group
        input(type='checkbox',id='activity-live',name='activity-live',value='#{user.activities.live}')
        label.inline #{t('settings.activity.live')}
      .form-group
        input(type='checkbox',id='activity-work',name='activity-work',value='#{user.activities.work}')
        label.inline #{t('settings.activity.work')}
      .form-group
        input(type='checkbox',id='activity-study',name='activity-study',value='#{user.activities.study}')
        label.inline #{t('settings.activity.study')}
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=15)=t('settings.save')
