#header-container
  a(href='#', id='toggleButton')
    - var headerFontColor = config.headerFontColor || '#fff';
    span.bar-icon(style='background-color: #{headerFontColor}')
    span.bar-icon(style='background-color: #{headerFontColor}')
    span.bar-icon(style='background-color: #{headerFontColor}')

    h1#logo
      a(href=config.homeLink || '#{config.subPath}/')
        span.hidden-xs= config.organizationName
        i.fa.fa-home.fa-lg.visible-xs-inline-block
      
  .user-nav.btn-group
    .user
    - var color = config.headerFontColor;
    - var style = color ? 'color: ' + color : '';
    - var signin = config.signinUrl || config.subPath.concat('/signin')
    - var signup = config.signupUrl || config.subPath.concat('/signup')
    a(href=signin, style=style).login.pull-right.anonymous-user
      i.fa.fa-sign-in
      span= t('header.signin')
    a(href=signup, style=style).login.pull-right.anonymous-user
      i.fa.fa-user
      span= t('header.signup')
