#help-container
  #help
    .sidebar-container
      ul.help-menu
        li.heading= t('help.title')
        - if (config.frequentlyAskedQuestions)
          li: a.faq(href="#{config.subPath}/help/faq")= t('help.faq.title')
        - if (config.glossary)
          li: a.glossary(href="#{config.subPath}/help/glossary")= t('help.glossary.title')
        // li: a.markdown(href="#{config.subPath}/help/markdown")= t('help.markdown.title')
        - if (config.termsOfService)
          li: a.terms-of-service(href="#{config.subPath}/help/terms-of-service")= t('help.tos.title')
        - if (config.privacyPolicy)
          li: a.privacy-policy(href="#{config.subPath}/help/privacy-policy")= t('help.pp.title')
        - if (config.legalTerms)
          li: a.legal-terms(href="#{config.subPath}/help/legal-terms")= t('help.legal-terms')
    .help-content
