#help-container
  #help
    .sidebar-container
      ul.help-menu
        li.heading= t('help.title')
        - if (config.frequentlyAskedQuestions)
          li: a(href="#{config.subPath}/help/faq")= t('help.faq.title')
        - if (config.termsOfService)
          li: a(href="#{config.subPath}/help/terms-of-service")= t('help.tos.title')
        - if (config.privacyPolicy)
          li: a(href="#{config.subPath}/help/privacy-policy")= t('help.pp.title')
        - if (config.glossary)
          li: a(href="#{config.subPath}/help/glossary")= t('help.glossary.title')
        li: a(href="#{config.subPath}/help/markdown")= t('help.markdown.title')
    .help-content
