#forum-wrapper.admin-wrapper
  .forum-admin
    .heading
      h1
        i.fa.fa-folder
        =t(form.title)
    form.form(action=(config.subPath+form.action), method="post", role="form", novalidate, autovalidate, autosubmit)
      ul.form-errors

      .fieldsets
        fieldset
          label= t('forum.form.url.label')
          .input-group.subdomain
            div.input-group-addon
              span.desktop= domain
              span.mobile /
            input(type='text', name='name', validate='required forum', autofocus, id='hostname', autocorrect='off', autocapitalize='off', value=forum.name)
            span.error.name-unavailable.hide=t('forum.form.url.unavailable')

        fieldset
          label= t('forum.form.title.label')
          .form-group.clearfix.title
            input(type='text', name='title', value=forum.title, placeholder= t('forum.form.title.placeholder'), validate='required')

        fieldset
          label= t('forum.form.summary.label')
          .form-group.clearfix.summary
            input(type='text', name='summary', value=forum.summary, placeholder= t('forum.form.summary.placeholder'), maxlength=300, validate='required max-length:300')
        
        fieldset
          button.btn.btn-primary= t(form.submit)
